<h1 class="login_title">ログイン画面</h1>
<div class="login_content">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <p id="space"><%= f.label :email %></p>
    <p><%= f.email_field :email %></p>
    <p id="space"><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>
    <p id="space"><%= f.submit "Log in" %></p>
  <% end %>
</div>
