<p id="notice"><%= notice %></p>
<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
        <p><%= comment.content %></p>
        <%= link_to "コメント編集", edit_treasurer_comment_path(treasurer, comment), remote: true if comment.user_id == current_user.id %>
        <%= link_to "コメント削除", treasurer_comment_path(comment.treasurer_id, comment.id), method: :delete, remote: true if comment.user_id == current_user.id %>
      </li>
    <% end %>
  <% end %>
</ul>
