
<div class="user_content">
<h3><%= @user.name %>のページ</h3>
<p>メールアドレス: <%= @user.email %></p>
</div>


<div class="user_content2">
<p><%= link_to 'ユーザ編集', edit_user_path(@user.id) %></p>
<p><%= link_to 'ユーザ削除', user_path(@user.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %></p>
<% if current_user.parent_or_child == 1 %>
  <p><%= link_to '使ったもの一覧', treasurers_path %></p>
<% end %>

<% if current_user.admin == true %>
  <p><%= link_to "管理者画面へ", admin_users_path %><p>
<% end %>

<% if current_user.parent_or_child == 0 %>
  <p><%= link_to 'マネジメントページ', new_management_path %><p>
<% end %>

</div>
