<div class="user_show_wappar">
  <div class="user_show_title2">
    <div class="user_show_title">
      <h3><%= @user.name %>のページ</h3>
      <p>メールアドレス: <%= @user.email %></p>
      <p><%= link_to '使ったもの一覧', treasurers_path if current_user.parent_or_child == 1 %></p>
      <p><%= link_to 'ユーザ編集', edit_user_path(@user.id) if current_user.parent_or_child == 0 %></p>
      <% if (current_user.parent_or_child == 0 && current_user.admin == false) && (current_user.parent_or_child == 0 && @treasurers.blank?) %>
        <p><%= link_to '親子関係の登録', new_management_path %></p>
        <p><%= link_to '子供一覧', users_path %></p>
      <% end %>
    </div>
  </div>

  <% if current_user.parent_or_child == 0 && current_user.admin == false %>
    <div class="user_show_task2">
      <table class="user_show_task">
        <tr>
          <th>日付</th>
          <th>カテゴリ</th>
          <th>使った物</th>
          <th>使用金額</th>
          <th>収入金額</th>
        </tr>
        <% index = 0 %>
        <% @treasurers.each do |treasurer| %>
          <tr>
            <td><%= treasurer.use_date_at %></td>
            <td><%= treasurer.category.name %></td>
            <td><%= treasurer.use_what %></td>
            <td><%= treasurer.use_money %>円</td>
            <td><%= treasurer.get_money %>円</td>
            <td><%= link_to '詳細', treasurer_path(treasurer.id), id: "detail_#{index}" %></td>
            <td><%= link_to '編集', edit_treasurer_path(treasurer.id), id: "edit_#{index}"  %></td>
            <td><%= link_to '削除', treasurer_path(treasurer.id), method: :delete, id: "delete_#{index}" %></td>
          </tr>
          <% index += 1 %>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
