<h1>出納詳細画面</h1>

<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="treasurer-text">
    <p>カテゴリ: <%= @treasurer.category.name %></p>
    <p>使ったもの: <%= @treasurer.use_what %></p>
    <p>使用金額: <%= @treasurer.use_money %></p>
    <p>収入金額: <%= @treasurer.get_money %></p>
  </div>

  <p>コメント一覧（ここから下の内容が重要）</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, treasurer: @treasurer } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, treasurer: @treasurer } %>
  <%= link_to '編集', edit_treasurer_path(@treasurer) %> |
  <%= link_to '戻る', treasurers_path %>
</div>

<%= pie_chart(@h) %>

<%= link_to '出納一覧画面へ', treasurers_path %>

<% if @treasurer.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(treasurer_id: @treasurer.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
