
<div class="user_admin_content">
<h3><%= @user.name %>のページ</h3>
<p>メールアドレス: <%= @user.email %></p>


  <table class="user_admin_show_task">
    <tr>
      <th>日付</th>
      <th>カテゴリ</th>
      <th>使った物</th>
      <th>使用金額</th>
      <th>収入金額</th>
    </tr>
    <% @treasurers.each do |treasurer| %>
      <tr>
        <td><%= Date.today %></td>
        <td><%= treasurer.category.name %></td>
        <td><%= treasurer.use_what %></td>
        <td><%= treasurer.use_money %></td>
        <td><%= treasurer.get_money %></td>
      </tr>
    <% end %>
  </table>

</div>

<div class="user_admin_content2">
<p><%= link_to '使ったもの一覧', treasurers_path %></p>
<p><%= link_to 'ユーザ情報編集', edit_user_path(@user.id) %></p>
<p><%= link_to '削除', user_path(@user.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %></p>
</div>
