<div class="admin_show_wapper">
  <div class="admin_show_title2">
    <div class="admin_show_title">
      <h3><%= @user.name %>のページ</h3>
      <p>メールアドレス: <%= @user.email %></p>
    </div>
  </div>
  <div class="admin_show_task2">
    <div class="admin_show_task">
      <table>
        <tr>
          <th>日付</th>
          <th>カテゴリ</th>
          <th>使った物</th>
          <th>使用金額</th>
          <th>収入金額</th>
        </tr>
        <% @treasurers.each do |treasurer| %>
          <tr>
            <td><%= treasurer.use_date_at %></td>
            <td><%= treasurer.category.name %></td>
            <td><%= treasurer.use_what %></td>
            <td><%= treasurer.use_money %></td>
            <td><%= treasurer.get_money %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="admin_show_content2">
    <div class="admin_show_content">
      <% if current_user.parent_or_child == 1 %>
        <p><%= link_to '使ったもの一覧', treasurers_path %></p>
      <% end %>
      <!-- <p> link_to 'ユーザ情報編集', edit_user_path(@user.id) </p>
      <p> link_to '削除', user_path(@user.id), method: :delete </p> -->
    </div>
  </div>
</div>
