<!DOCTYPE html>
<html>
  <head>
    <title>MoneyManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="top_menu clearfix">
        <% if logged_in? %>
          <li><%= link_to "Profile", user_path(current_user.id) %></li>
          <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
          <li><%= current_user.name %>ログイン中</li>
        <% else %>
          <li><%= link_to "Sign up", new_user_path %></li>
          <li><%= link_to "Login", new_session_path %></li>
          <li><%= link_to "ゲストログイン", guest_login_path, method: :post %></li>
          <li><%= link_to "管理者ゲストログイン", admin_guest_login_path, method: :post %></li>
        <% end %>
      </ul>
    </header>
    <div class="validation">
    <% flash.each do |key, value| %>
     <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    </div>
    <%= yield %>
  </body>
  <footer>

  </footer>
</html>
