<!DOCTYPE html>
<html>
  <head>
    <title>MoneyManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="top_menu clearfix">
        <% if logged_in? %>
          <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
          <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
          <li><%= link_to "管理者画面へ", admin_users_path if current_user.admin == true %></li>
          <li><%= current_user.name %>ログイン中</li>
        <% else %>
          <li><%= link_to "アカウント作成", new_user_path %></li>
          <li><%= link_to "ログイン", new_session_path %></li>
          <li><%= link_to "ゲストログイン(子)", guest_login_path, method: :post, id: "kid" %></li>
          <li><%= link_to "ゲストログイン(親)", parent_guest_login_path, method: :post, id: "parent" %></li>
          <li><%= link_to "管理者ゲストログイン", admin_guest_login_path, method: :post %></li>
        <% end %>
      </ul>
    </header>
    <!-- <div class="validation_mapper"> -->
      <div class="validation">
        <% flash.each do |key, value| %>
         <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      </div>
    <!-- </div> -->
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
