<div class="management_wapper">
    <%= form_with(model: @management, local: true) do |f| %>
    <% if @management.errors.any? %>
      <div id="error_explanation">
        <h2><%= @management.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @management.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <h1 class="management_title">親子関係の登録画面</h1>
  <div class="management_content">
    <div class="management_content2">
      <p><%= f.label :email %></p>
      <p><%= f.text_field :email %></p>
      <p><%= f.submit "Create my account" %></p>
      <% end %>
    </div>
  </div>
</div>
